.idea/
temp/
venv/
.vscode/
__pycache__/
*.ipynb
*.sol
*.txt
*.csv
*.go
*.log
=======
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
abigen

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
